<html>
    <body>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Mortgage ID</th>
                    <th>Name</th>
                    <th>Property ID</th>
                    <th>Value</th>
                </tr>
            </thead>    
            <tbody>
                <% Appraisals.forEach(function(Appraisal){ %>
                    <tr>
                        <form id=<%= Appraisal.MortID %>>
                            <td><input type="text" value=<%= Appraisal.MortID %> readonly></td>
                            <td><input type="text" value=<%= Appraisal.fullName %> readonly></td>
                            <td><input type="text" value=<%= Appraisal.MlsID %> readonly></td>
                            <td><input type="number"></td>
                            <td><input type="submit" value="Submit"></td>
                        </form>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>


<script>

</script>