<script type="text/javascript">

    var checked=false;
    $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
                checked=true;
            }
            else if($(this).prop("checked") == false){
                checked=false;
            }
        });
        var PageURL = window.location.search.substring(1);
        var URLVariables = PageURL.split('=');
        //alert(URLVariables[1]);
        var empID=URLVariables[1];
        document.getElementById('empID').value = empID;
      });
   
      $('.supply').click(function(){
        if(checked){
        var empID=document.getElementById("empID").value;
        var mbrID=document.getElementById("appNumber").value;
        var address=document.getElementById("address").value;
        $.ajax({
            url:"/employee/sendInfo",
            type:"GET",
            data:{'empID':empID,'mbrID':mbrID,'address':address},
            success:function(result){
              alert(result);
           },
            error:function(error){
             console.log(error)
             }
            });
        }
        else{
          alert("Please agree the checkbox to supply information..!!!");
        }
      });

    </script>
    <style type="text/css">
        body,html{
          height: 100%;
        }
          #mainDiv{
             background-image: linear-gradient(#C04848, #480048);
             height: 100%;
             font-family:Arial;
          }
          #subDiv{
            border:2px solid;
            padding: 30px;
            margin-top: 50px;
            border-radius: 13px;
              background-image: linear-gradient(#ECE9E6, #FFFFFF);
          }
          #btn{
            font-size: 18px;
          }
        </style>
    
        <div class="container-fluid" id="mainDiv">
         <div class="col-lg-4">
    
        </div>
        <!-- action="/employee/sendInfo" method="Get" -->
        <form>
          <div class="col-lg-4" id="subDiv">
           <div> 
             <center><h1>Information Supply Form</h1></center>
           </div>
           <div class="form-group">
              <label for="empID">Employee ID:</label> 
              <input type="text" class="form-control" id="empID" required=true 
               name="empID" readonly>
       
            </div>
          <div class="form-group">
            <label for="appNumber">Mortgage Application Number:</label>
            <input type="number" class="form-control" required=true id="appNumber" name="mbrID"
             placeholder="Enter your Mortgage Application Number">
          </div>
          <div class="form-group">
            <label for="address">Broker Web-service Address:</label>
            <input type="text" class="form-control" id="address" name="address"
             required=true placeholder="Enter Broker's web-service address">
          </div>
          <div class="form-group">
    
            <input type="checkbox" id="agree">&nbsp;<b>Do you agree to supply Information?</b>
    
          </div>
    
         <center><button type="button" class="btn btn-primary supply" id="btn">Submit</button></center>
        </div>
        </form>
        <div class="col-lg-4">
    
        </div>
        </div>
        