<style type="text/css">
    body,html{
           height: 100%;
         }
     #mainDiv{
        background-image: linear-gradient(#C04848, #480048);
        height: 100%;
        font-family:Arial;
     }
     #subDiv{
       border:2px solid;
       padding: 30px;   
       margin-top: 50px;
       border-radius: 13px;
       background-image: linear-gradient(#ECE9E6, #FFFFFF);
     }
     #btn{
       margin-top: 20px;
       font-size: 20px;
       padding-right: 30px;
       padding-left: 30px;
     }
   </style>
   
   <div class="container-fluid" id="mainDiv">
     <form>
       <div class="col-lg-3">
   
       </div>
       <div class="col-lg-6" id="subDiv">
        <center> <h1>Welcome to Employee Portal</h1></center>
        <div>
        <center> <button type="button" onclick="window.location.href='/employee/SignUp'" class="btn btn-primary" id="btn">Sign-up</button></center>
        <center> <button type="button" onclick="window.location.href='/employee/SignIn'" class="btn btn-primary" id="btn">Sign-In</button></center>

        </div>
     </div>
     <div class="col-lg-3">
   
     </div>
     </form>
     </div>