<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style type="text/css">
  body,html{
    height: 100%;
  }
    #mainDiv{
       background-image: linear-gradient(#FFFFFF);
       height: 100%;
       font-family:Arial;
    }
    #sign-in-form{
      border:2px solid;
      padding: 30px;
      margin-top: 50px;
      border-radius: 13px;
        background-image: linear-gradient(#ECE9E6, #FFFFFF);
    }
    #btn{
      font-size: 18px;
    }
  </style>
  <script type="text/javascript">
  function signin(){
    var url="/employee/auth";
    var username=document.getElementById("email").value;
    var password=document.getElementById("password").value;
    //alert(username+""+password);
    $.ajax({
                  url:url,
                  type:"POST",
                  data:{email:username,password:password},
                  success:function(result){
                    console.log(result);
                    if(result.invalid){
                       alert("Wrong Credentials...please enter correct email and password credentials..!!!") 
                    }else{
                      //localStorage.setItem("loggedin",true);
                      // $('#mainDiv').html('');
                      // $('#mainDiv').html(result);
                      //alert(result.empID);
                      var empID=result.empID;
                      window.location.href="/employee/MortgageInfoSupply?empID="+empID;
                    }
             
                  },
                  error:function(error){
                    console.log("Error ${error}")
                  }
                });
                
  }
  </script>
  
  <div class="container-fluid" id="mainDiv">
    <div class="col-lg-4">
  
    </div>
      <!-- <form action="/employee/auth" method="POST"> -->
  
    <div class="col-lg-4" id="sign-in-form">
     <div>
       <center><h1>Login</h1></center>
     </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" required=true
       name="empID" placeholder="Enter Email">
  
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required=true name="password" placeholder="Enter Password">
    </div>
    <center><button type="button" class="btn btn-primary" onclick="signin()" id="btn">Log-in
    </div>
  
  </button></center>
  <!-- </form> -->
  <div class="col-lg-4">
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
  
  