<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style type="text/css">
    body,html{
        height: 100%;
    }
        #mainDiv{
           background-image: linear-gradient(#FFFFFF);
           height: 100%;
           font-family:Arial;
        }
        #sign-in-form{
          border:2px solid;
          padding: 30px;
          margin-top: 50px;
          border-radius: 13px;
          background-image: linear-gradient(#ECE9E6, #FFFFFF);
        }
        #btn{
          font-size: 18px;
        }
      </style>
    <script type="text/javascript">

      function pwdFunction() {
        var password = document.getElementById("password");
        if (password.type === "password") {
          password.type = "text";
        } else {
          password.type = "password";
        }
      }

      function signup(){
    var url="/employee/create";
    var name=document.getElementById("name").value;
    var email=document.getElementById("email").value;
    var salary=document.getElementById("salary").value;
    var password=document.getElementById("password").value;
    var tenure=document.getElementById("tenure").value;
    
    //alert(username+""+password);
    $.ajax({
                  url:url,
                  type:"POST",
                  data:{name:name,email:email,salary:salary,password:password,tenure:tenure},
                  success:function(result){
                    console.log(result);
                    if(result.invalid){
                       alert('Employee already exists!') 
                    }else{
                      alert(result.message);
                      window.location.href = "/employee/SignIn";
                    }
             
                  },
                  error:function(error){
                    //console.log(error)
                  }
                });
                
  }
    </script>
    <div class="container-fluid" id="mainDiv">
        <!-- action="/employee/create" method="POST" -->
        <form>
          <div class="col-lg-4">
    
          </div>
          <div class="col-lg-4" id="sign-in-form">
           <div>
             <center><h1>Sign-up</h1></center>
           </div>
          <div class="form-group">
            <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" required=true name="name" placeholder="Enter your Full Name">
          </div>
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" required=true name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password"  class="form-control" id="password" required=true name="password" placeholder="Enter Password">
            <input type="checkbox" onclick="pwdFunction()">Show Password
          </div>
          <div class="form-group">
            <label for="designation">Job Designation:</label>
            <input type="text" class="form-control" required=true id="designation" name="designation" placeholder="Enter your designation">
          </div>
          <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" class="form-control" id="salary" required=true name="salary" placeholder="Enter your salary">
          </div>
          <div class="form-group">
            <label for="tenure">Work tenure:</label>
            <input type="number" class="form-control" id="tenure" required=true name="tenure" placeholder="Enter your work tenure">
          </div>
         <center><button type="button" class="btn btn-primary" id="btn" onclick="signup()">Sign Up</button></center>
        </form>
        </div>
        <div class="col-lg-4">
    
          </div>
         </div>

         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
         