<style type="text/css">
  body,html{
    height: 100%;
  }
    #mainDiv{
       background-image: linear-gradient(#C04848, #480048);
       height: 100%;
       font-family:Arial;
    }
    #sign-in-form{
      border:2px solid;
      padding: 30px;
      margin-top: 50px;
      border-radius: 13px;
        background-image: linear-gradient(#ECE9E6, #FFFFFF);
    }
    #btn{
      font-size: 18px;
    }
  </style>
  <script type="text/javascript">
  function signin(){
    var url="/employee/auth";
    var username=document.getElementById("email").value;
    var password=document.getElementById("password").value;
    //alert(username+""+password);
    $.ajax({
                  url:url,
                  type:"POST",
                  data:{email:username,password:password},
                  success:function(result){
                    console.log(result);
                    if(result.invalid){
                       alert("Wrong Credentials...please enter correct email and password credentials..!!!") 
                    }else{
                      $('#mainDiv').html('');
                      $('#mainDiv').html(result);
                    }
             
                  },
                  error:function(error){
                    console.log("Error ${error}")
                  }
                });
                
  }
  </script>
  
  <div class="container-fluid" id="mainDiv">
    <div class="col-lg-4">
  
    </div>
      <!-- <form action="/employee/auth" method="POST"> -->
  
    <div class="col-lg-4" id="sign-in-form">
     <div>
       <center><h1>Login</h1></center>
     </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" required=true
       name="empID" placeholder="Enter Email">
  
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required=true name="password" placeholder="Enter Password">
    </div>
    <center><button type="button" class="btn btn-primary" onclick="signin()" id="btn">Log-in
    </div>
  
  </button></center>
  <!-- </form> -->
  <div class="col-lg-4">
  </div>
  </div>
  