<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="form-signin text-center">
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control margin-top-2 signup-email" placeholder="Email address" required autofocus>
        <div class="email-message"></div>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control margin-top-2 signup-password" placeholder="Password" required>
        <div class="password-message"></div>
        <label for="name" class="sr-only">Name</label>
        <input type="name" id="name" class="form-control margin-top-2 signup-name" placeholder="Name" required autofocus>
        <div class="name-message"></div>
        <label for="address" class="sr-only">Address</label>
        <input type="address" id="address" class="form-control margin-top-2 signup-address" placeholder="Address" required autofocus>
        <div class="address-message"></div>
        <label for="phoneNumber" class="sr-only">Phone Number</label>
        <input type="number" id="phoneNumber" class="form-control margin-top-2 signup-phonenumber" placeholder="Phone Number" required autofocus>
        <div class="phoneNumber-message"></div>
        <label for="salary" class="sr-only">Salary</label>
        <input type="number" id="salary" class="form-control margin-top-2 signup-salary" placeholder="Enter Salary in dollars" required autofocus>
        <div class="salary-message"></div>
        <label for="tenure" class="sr-only">Tenure</label>
        <input type="number" id="tenure" class="form-control margin-top-2 signup-tenure" placeholder="Enter Tenure" required autofocus>
        <div class="tenure-message"></div>
        <button class="btn btn-lg btn-primary btn-block margin-top-2 signup-button" type="submit">Sign Up</button>
      </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
